[Unit]
Description=Run EPG-UAC osTicket sync bot every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min
Unit=epg-bot.service
Persistent=true

[Install]
WantedBy=timers.target
